button{
    /*background-color: black;*/
    width: 100px;
    height: 50px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body,html{
    margin: 0px;
    height: 100%;
}

.container{
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display:flex;
    flex-wrap: wrap;
}